<ng-container [formGroup]="appStore.formGroup()">
    <label [attr.for]="field.name">{{ field.label }}
        <span *ngIf="appStore.isRequired(field)" class="required-asterisk">*</span>
    </label>
  

    @switch (field.type) {

        @case("text"){
            <input
                [formControlName]="field!.name"
                [id]="field!.name"
                [type]="field!.type"
                [placeholder]="field!.placeholder"
                (ngModelChange)="modelChange($event)"
                (blur)="blur($event)"
            />
        }
        @case("number"){
            <input
                [formControlName]="field.name"
                [id]="field!.name"
                [type]="field!.type"
                [placeholder]="field!.placeholder"
                (change)="modelChange($event)"
                (blur)="blur($event)"
            />
        }
        @case("date"){
            <input
                [formControlName]="field.name"
                [id]="field!.name"
                [type]="field!.type"
                [placeholder]="field!.placeholder"
                (change)="modelChange($event)"
                (blur)="blur($event)"
            />
        }
        @case("select"){
            <select [formControlName]="field.name" [id]="field!.name" (change)="modelChange($event)" (blur)="blur($event)">
                <option value="" disabled>{{ field!.placeholder }}</option>
                <ng-container *ngFor="let option of field?.options">
                  <option [value]="option">{{ option }}</option>
                </ng-container>
              </select>
        }
        @default {
            <div>default</div>
        }

    }
    
    <!-- Error message -->
    <div *ngIf="control?.invalid && (control?.dirty || control?.touched)">
      <div>{{ appStore.getErrorMessage('error.required') }}</div>
    </div>
    
  </ng-container>