
<main class="container">
  <app-sidebar class="sidebar" />

  <div class="multistep-form-wrapper">
    <form>
  
      @if(appStore.confirmationStep()){
        <div *ngIf="appStore.confirmationStep">
          <h2>Confirmation</h2>
          <pre>{{ appStore.finalFormData() | json }}</pre>
        </div>
      } @else {
        <div class="form-step" *ngFor="let step of appStore.config().steps; let i = index">
          <app-step [isActive]="i === appStore.currentStepIndex()" />
        </div>
    
        <!-- form controls -->
        <button type="button" (click)="appStore.goToPreviousStep()" *ngIf="appStore.currentStepIndex() > 0">Previous</button>
        <button type="button" (click)="appStore.goToNextStep()" *ngIf="appStore.currentStepIndex() < appStore.stepForms().length - 1" [disabled]="!appStore.isNextStepAccessible()">Next</button>
        <button type="submit" (click)="appStore.submitForm()" *ngIf="appStore.currentStepIndex() === appStore.stepForms().length - 1" [disabled]="!appStore.isNextStepAccessible()">Submit</button>
    
      }
     
    </form>
  </div>
</main>

