<div *ngIf="isActive && appStore.currentStep().rows">
    <h2>{{ appStore.currentStep().title }}</h2>

    <!-- Row und Columns Struktur hier aufbauen -->

    <ng-container *ngFor="let row of appStore.currentStep()?.rows; let rowIndex = index">

        <h4>{{row.title}}</h4>

        <div class="row" >
            
            <div class="column" *ngFor="let col of row?.columns">

                <app-dynamic-input *ngFor="let field of col.fields" [field]="field"></app-dynamic-input>
        
            </div>

        </div>

        <hr *ngIf="rowIndex < appStore.currentStep().rows.length - 1" />

    </ng-container>
   
  </div>