<ng-container [formGroup]="formGroup">
    <label [attr.for]="field.name">{{ field.label }}
        <span *ngIf="isRequired()" class="required-asterisk">*</span>
    </label>
  

    @switch (field.type) {

        @case("text"){
            <input
                [formControlName]="field!.name"
                [id]="field?.name"
                [type]="field?.type"
                [placeholder]="field?.placeholder"
            />
        }
        @case("number"){
            <input
                [formControlName]="field.name"
                [id]="field?.name"
                [type]="field?.type"
                [placeholder]="field?.placeholder"
            />
        }
        @case("date"){
            <input
                [formControlName]="field.name"
                [id]="field?.name"
                [type]="field?.type"
                [placeholder]="field?.placeholder"
            />
        }
        @case("select"){
            <select [formControlName]="field.name" [id]="field?.name">
                <option value="" disabled>{{ field?.placeholder }}</option>
                <ng-container *ngFor="let option of field?.options">
                  <option [value]="option">{{ option }}</option>
                </ng-container>
              </select>
        }
        @default {
            <div>default</div>
        }

    }
    
    <!-- Error message -->
    
    <div *ngIf="control.invalid && (control.dirty || control.touched)">
      <div *ngIf="control.errors['required']">{{ getErrorMessage('error.required') }}</div>
    </div>  

  </ng-container>